#Home{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    margin: auto;
    overflow: hidden;
}

.homePageLayout{
    background-color: rgba(0, 0, 0, 0.8);
    height: 80%;
    width: 80%;
    margin: 40px auto 40px auto;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: row wrap;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(200px, 300px);
    grid-auto-rows: auto; */
    border-radius: 25px 25px 25px 25px;
    /* grid-auto-columns: auto; */
}

.pic{
    height: 200px;
    width: 250px;
    margin: 20px auto auto auto;
    border: 2px solid white;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.5);
}

.paragraph{
    height: fit-content;
    width: 50%;
    font-size: 20px;
    /* border: 2px solid white;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.5); */
    margin: 10px auto auto auto;
    
}


.block{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: fit-content;
    margin: auto;
    margin-top: 10px;
}
.blockTwo{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media (max-width: 576px) { 
    .homePageLayout{
     flex-direction: column;
     }
    .paragraph{
        width: 80%;
        font-size: 20px;
    }
    .block{
     flex-direction: column;
     }
     .blockTwo{
        flex-direction: column-reverse;
    }
    .homePageLayout{
        width: 90%;
    
    }
   }