#NavBar{
    height: 50px;
    width: 100%;
    background-color: rgb(44, 44, 117);
    color: white;
    display: flex;
    flex-direction: row;
    
}

a {
    color: white;
}

a:hover {
    color: rgb(146, 146, 228);
    font-size: 110%;
 }

 #pages{
    height: fit-content;
    width: 200px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
 }
#homeNav{
    font-size: 120%;
    text-decoration: none;
}

/* #homeNav:hover {
    font-size: 150%;
} */

#shopNav{
    font-size: 120%;
    text-decoration: none;
}

#aboutNav{
    font-size: 120%;
    text-decoration: none;
}

/* #shopNav:hover {
    font-size: 150%;
} */


.NavLinks{

}