#NavBar{
    height: 50px;
    width: 100%;
    background-color: rgb(44, 44, 117);
    color: white;
    display: flex;
    flex-direction: row;
    
}

a {
    color: white;
}

a:hover {
    color: rgb(255, 236, 129);
 }

 #pages{
    height: fit-content;
    width: 200px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
 }
 
#homeNav{
    font-size: 120%;
    text-decoration: none;
}

#shopNav{
    font-size: 120%;
    text-decoration: none;
}

#aboutNav{
    font-size: 120%;
    text-decoration: none;
}

#checkOutCart{
    height: fit-content;
    width: fit-content;
    margin-top: 15px;
    margin-right: 25px;
}

.NavLinks{

}